body {
    display: flex;
    flex-direction: column;
    background-color: #00293c;
    color: #F62A00;
    font-size: 24px;
    font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
    display: flex;
    justify-content: center;
}

button {
    background-color: #F1F3CE;
    color: #1E656D;
    border-radius: 16px;
    padding: 15px 32px;
    border-color: #1E656D;
    font-weight: bold;
    font-size: 24px;
}

button:hover {
    background-color: #F62A00;
    color: #F1F3CE;
    border-color: #F1F3CE;
}

.container {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.scores {
    display: flex;
    justify-content: space-around;
}

.resultbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}